
	/*P indexe --------------------------*/
#index_body{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	min-height: 60vh;
	background-color: #58331D;
	list-style: none;
}

/*menu*/
#h_main {
    width: 100%;
    height: 5%;
    background-color: transparent;
    display: flex;
    margin-bottom: 5%;
    z-index: 999;
}
#error{
	font-style: 2vh;
	display: flex;
	justify-content: center;
	margin-top: -10%;
}





#error_ins{
	min-height: 5vh;
	display: flex;
	flex-direction: column;
	background-color: white;
	font-size: 2vh;
}


#form_inscription{
	height: 100%;
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}




#h_container {
    
    height: 100%;
}
nav {
    color: #FFFFFF;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav {
    color: #FFFFFF;
    font-size: 2.5vh;
}
nav ul li {
    margin: 0;
    padding: 0;
    float: left;
    width: 200px;
    height: 40px;
    background-color: rgb(181, 110, 51, 0.5);
    line-height: 40px;
    text-align: center;
}

#h_main nav ul li a{
	display: block;
	text-decoration: none;
	color: black;
	font-weight: bold;
}

#h_main nav ul li a:hover{
	background-color: rgba(88, 50, 29, 0.9);
	color: white;
}

a:hover{
	color: white;
}
a{
	display: block;
	text-decoration: none;
	font-weight: bold;
	color: silver;
}
#h_main nav ul li ul li {
    display: none;
}


#h_main nav ul li:hover ul li{
	display: block;
}

/*header */

#index_header{
	background-image: url(https://th.bing.com/th/id/OIP.vm-UImhbdmdDEm7Mc2HzSAAAAA?pid=Api&rs=1);
	background-attachment: fixed;
	height: 15.8vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	margin-top: -7.1%;
	
}

.index_header_container{
	display: flex;
	justify-content: space-between;
}

#index_header_menu{
	background-color: red;
}

#index_header_titre_deco{
	font-size: 4vh;
	height: 5vh;
	margin-top: -2%;
	color: white;
	margin-right: 38%;
	position: relative;
}

#index_header_titre{
	font-size: 4vh;
	height: 5vh;
	margin-top: -2%;
	color: white;
	margin-left: 6.2%;
	position: relative;
}

#index_header_username{
	background-color: rgba(88, 50, 29, 0.9);
	text-align: center;
	font-size: 2.5vh;
	margin-top: 0.5%;
	margin-right: 1%;
	color: silver;
	height: 8vh;
	width: 8vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#lien_profil_header{
	font-size: 3vh;
}

.index_ins-conex{
	background-color: rgba(88, 50, 29, 0.5);
	text-align: center;
	font-size: 2.5vh;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 0.5%;
	height: 5vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: silver;
	min-width: 5vw;
}

#deconnexion{
	background-color: transparent;
	height: 4.8vh;
	color: silver;
	font-size: 2vh;
}
#deconnexion:hover{
	background-color: transparent;
	height: 4.8vh;
	color: white;
	font-size: 2vh;
}
/*main*/

#index_main{
	background: #D69664; /* fallback color if gradients are not supported*/ 
	background: -webkit-linear-gradient(180deg,rgba(214,150,100,0.8) 35%, rgba(207,196,185,0.6), rgba(88,50,29,0.8));
	background: -moz-linear-gradient(180deg,rgba(214,150,100,0.8) 35%, rgba(207,196,185,0.6), rgba(88,50,29,0.8));
	background: -o-linear-gradient(180deg,rgba(214,150,100,0.8) 35%, rgba(207,196,185,0.6), rgba(88,50,29,0.8));
	background: linear-gradient(180deg,rgba(214,150,100,0.8) 35%, rgba(207,196,185,0.6), rgba(88,50,29,0.8));
	height: 110vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#index_main_center{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: white;
	height: 95%;
	width: 80%;
}

.index_main_container-principaux{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-top: 1%;
}

.index_main_principaux_titre{
	background-color: rgba(160, 138, 116, 0.5);
	align-items: center;
	text-align: center;
	font-size: 2.8vh;
	margin-bottom: 2%;
	color: gray;
}

#index_main_container-img1{
	background-color: rgba(207, 196, 185, 0.8);
	display: flex;
	justify-content: space-between;
}

#index_img1_images-1{
	background-image: url(../img/img1.jpg);
	background-repeat: no-repeat;
	width: 15vw;
	height: 15vh;
	margin-left: 5%;
}

#index_img1_images-2{
	background-image: url(../img/img2.jpg);
	background-repeat: no-repeat;
	width: 15vw;
	height: 15vh;
}

#index_img1_images-3{
	background-image: url(../img/img3.jpg);
	background-repeat: no-repeat;
	width: 15vw;
	height: 15vh;
	margin-right: 2%;
}

.index_img4{
	text-align: center;
}


.index_img2_contient{
	background-color: #E4E4E4;
	width: 15vw;
	min-height: 15vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.index_img2_images{
	background-color: white;
	height: 15vh;
}
.index_img2_titre{
	background-color: #F0F0F0;
	text-align: center;
	font-size: 3vh;
}


#index_button{
	height: 7vh;
	width: 12vw;
	margin-bottom: 4%;
	font-size: 3vh;
	color: gold !important ;
	background-color: rgb(160, 138, 116);

}


#index_main_principaux_titre1{
	background-color: #F1F1F1;
	display: flex;
	justify-content: center;
	margin-top: -0%;
}

#index_main_titre1{
	background-color: #FFFFFF;
	width: 20vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	font-size: 2.8vh;
}

#index_main_container-img2{
	background-color: #FFFFFF;
	display: flex;
	justify-content: space-around;
}


#index_main_fake_button{
	width: 10vw;
	align-items: center;
	text-align: center;	
	color: gold !important ;

}



#index_main_button{
	background-color: #FFFFFF;
	display: flex;
	justify-content: center;
}






#index_footer{
	height: 25vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 5%;
}

#index_footer_container1{
	display: flex;
	justify-content: center;
    background-color: rgba(160, 138, 116, 0.5);

}

#footer_container1_titre{
	background-color: rgb(160, 138, 116);
	text-align: center;
	width: 25vw;
	font-size: 3.5vh;
	color: silver;
	font-weight: bold;
}
#index_footer_container2{
	display: flex;
	justify-content: space-around;
	background-color: rgba(160, 138, 116, 0.5);
}

.footer_container2_mentions{
    background-color: rgb(160, 138, 116);
	width: 12vw;
	font-size: 1.8vh;
	text-align: center;
}

#index_footer_container3{
	background-color: #7C5E48;
	display: flex;
	justify-content: space-around;
}

.footer_container3_nom{
	width: 15vw;
	font-size: 2vh;
	text-align: center;
	background-color: rgb(160, 138, 116);
}

#footer_container3_trait{
	background-color: black;
	width: 0.2vh;
	height: 80%;
	margin-top: 0.3%;
	color: transparent;

}


	/*P inscription ---------------------*/

#inscription_body{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	min-height: 60vh;
	background-color: #58331D;
	list-style: none;

}
/*header inscription*/



/*main inscription*/

#inscription_main{
	background: #D69664; /* fallback color if gradients are not supported*/ 
	background: -webkit-linear-gradient(180deg,rgba(214,150,100,0.8) 35%, rgba(207,196,185,0.6), rgba(88,50,29,0.8));
	background: -moz-linear-gradient(180deg,rgba(214,150,100,0.8) 35%, rgba(207,196,185,0.6), rgba(88,50,29,0.8));
	background: -o-linear-gradient(180deg,rgba(214,150,100,0.8) 35%, rgba(207,196,185,0.6), rgba(88,50,29,0.8));
	background: linear-gradient(180deg,rgba(214,150,100,0.8) 35%, rgba(207,196,185,0.6), rgba(88,50,29,0.8));
	height: 60vh;
	display: flex;
	justify-content: center;
}

#inscription_main_englobe{
	display: flex;
	flex-direction: column;
	height: 69.4vh;
	width: 30vw;
	align-items: center;
	margin-top: 0.5%;
}
/*titre main*/
#main_englobe_titre_1{
	background-color: rgba(166, 136, 110, 1.3);
	text-align: center;
}

#main_englobe_titre_1_h1{
	font-family: 'Harmattan', sans-serif;
	font-size: 3vh;
}
/*titre label*/
.main_englobe_titre{
    background-color: #CFC4B9;
	text-align: center;

}
/*contient label + input*/
.main_englobe_container{
    background-color: rgba(160, 138, 116, 0.5);
	height: 10vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	margin-bottom: 5%;
	margin-top: -5%;
}


.main_englobe_container_g{
	height: 10vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	margin-bottom: 5%;
	margin-top: -5%;


}
/*input*/
.main_englobe_input{
	background-color: transparent;	
}

.main_englobe_label{
	background-color: transparent;	
}

#login{
	height: 2.5vh;
	width: 15vw;
	text-align: center;
	margin-bottom: 0.3%;
}

#password{
	height: 2.5vh;
	width: 15vw;
	text-align: center;
	margin-bottom: 0.3%;
}

#r_password{
	height: 2.5vh;
	width: 15vw;
	text-align: center;
	margin-bottom: 0.3%;
}
#inscription{
	height: 3.5vh;
	width: 10vw;
	text-align: center;
}
.main_englobe_input_margin{
	height: 4vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: -3.4%;
    background-color: #F0F0F0;
}
/*label*/
.main_englobe_titre_span{
	font-size: 4vh;
	font-family: 'Harmattan', sans-serif;
}

#inscription_footer{
	background-color: blue;
	height: 19.5vh;
}



	/*P connexion -----------------------*/

#connexion_body{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	background-color: #58331D;
}

#connexion_header{
	background-color: blue;
	height: 20vh;
	margin-bottom: 2.5%;
}

#connexion_main{
	background: #D69664; /* fallback color if gradients are not supported*/ 
	background: -webkit-linear-gradient(180deg,rgba(214,150,100,0.8) 35%, rgba(207,196,185,0.6), rgba(88,50,29,0.8));
	background: -moz-linear-gradient(180deg,rgba(214,150,100,0.8) 35%, rgba(207,196,185,0.6), rgba(88,50,29,0.8));
	background: -o-linear-gradient(180deg,rgba(214,150,100,0.8) 35%, rgba(207,196,185,0.6), rgba(88,50,29,0.8));
	background: linear-gradient(180deg,rgba(214,150,100,0.8) 35%, rgba(207,196,185,0.6), rgba(88,50,29,0.8));
	height: 55vh;
	display: flex;
	justify-content: center;
}


#connexion_main_englobe{
	display: flex;
	flex-direction: column;
    height: 60vh;
    width: 20vw;
    margin-top: 23%;

}
/*button*/

#connexion{
	height: 3.5vh;
	width: 10vw;
	text-align: center;
}



	/*P profil --------------------------*/



#n_login{
	height: 2.5vh;
	width: 15vw;
	text-align: center;
}

#modifier{
	height: 2.5vh;
	width: 10vw;
	text-align: center;
}


#profil_footer{
	background-color: blue;
	height: 19.5vh;
	margin-top: 2.2%;
}


	/*P planning ------------------------*/


#planning_body{
	background-color: #58331D;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#planning_header{
	background-color: blue;
	height: 16.7vh;
	margin-bottom: 0.5vh;

}
#planning_main {
	min-height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: #D69664; /* fallback color if gradients are not supported*/ 
	background: -webkit-linear-gradient(180deg,rgba(214,150,100,0.8) 35%, rgba(207,196,185,0.6), rgba(88,50,29,0.8));
	background: -moz-linear-gradient(180deg,rgba(214,150,100,0.8) 35%, rgba(207,196,185,0.6), rgba(88,50,29,0.8));
	background: -o-linear-gradient(180deg,rgba(214,150,100,0.8) 35%, rgba(207,196,185,0.6), rgba(88,50,29,0.8));
	background: linear-gradient(180deg,rgba(214,150,100,0.8) 35%, rgba(207,196,185,0.6), rgba(88,50,29,0.8));
}

#planning_container_titre{
	background-color: #9C6B47;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 8vh;
}

#planning_container_titre_h1{
	background-color: rgba(223, 200, 183, 0.8);
	height: 60%;
	width: 20vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	font-family: 'Harmattan', sans-serif;
	font-size: 2.5vh;
}

#planning_container_titre_h1 h1{
	margin-bottom: 6.5%;
}
#planning_container_table{
	overflow: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 2%;

}
 .calendar__day{
 	font-size: 1.3em;
 }

 .calendar--othermonth .calendar__day{
 	opacity: 0.3;
 }
.calendar__wekday{
	font-weight: bold;
	color: black;
	font-size: 1.2em;
}

#calendar_table{
	width: 95%;
}
#calendar_table td{
	padding:  10px;
	vertical-align: top;
	width: 14.29%;

}
table{
	font-family: 'Vidaloka', serif;
	font-size: 2.8vh;
    text-transform: uppercase;	
	border-collapse: collapse;
	color: gray;
}

table th{
    border: 0.5px solid black;
    border-left: none;
    border-top: none;
    width: 10vw;
    height: 7vh;
    color: #33A74E;
}

table td{
    border: 0.5px solid black;
    border-left: none;
    height: 5vh;
    color: #4CAF50;
}

.apre{
    color: #267D39;
}

.jours {
    font-size: 4vh;
    color: #0B87D9;
}

.active {
    background-color: red;
    padding: 0.7px 7px;
    border-radius: 8px;
    color: white;
}
.heure{
	width: 5vh;
}

td:hover{
    background-color: #78d0e987;
}

th:hover{
    background-color: #78d0e987;
}
.tborder-right {
    border: none;
    border-bottom: solid 0.5px black;
    color: gray;
    width: 8px;

}

.millieu{
	color: red;
}

.tborder-down {
	border: none;
    border: 0.5px solid black;
    color: gray;
    height: 15px;
    border-left: none;
    border-bottom: none;

}

	/*P reservation ---------------------*/


#reservation_body{
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #58331D;
}



#reservation_main{
	background: #D69664; /* fallback color if gradients are not supported*/
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#reservation_container_titre{
	display: flex;
	justify-content: center;
	text-align: center;
	background-color: #9C6B47;

}
#reservation_container_titre_h1{
	background: #D1B5A0;
	margin-top: 1%;
	margin-bottom: 0.8%;
	width: 15vw;
	height: 7vh;
	display: flex;
	flex-direction: column;
	justify-content: center;	
}

#reservation_container_main{
	background: #D69664; /* fallback color if gradients are not supported*/ 
	background: -webkit-linear-gradient(180deg,rgba(214,150,100,0.8) 35%, rgba(207,196,185,0.6), rgba(88,50,29,0.8));
	background: -moz-linear-gradient(180deg,rgba(214,150,100,0.8) 35%, rgba(207,196,185,0.6), rgba(88,50,29,0.8));
	background: -o-linear-gradient(180deg,rgba(214,150,100,0.8) 35%, rgba(207,196,185,0.6), rgba(88,50,29,0.8));
	background: linear-gradient(180deg,rgba(214,150,100,0.8) 35%, rgba(207,196,185,0.6), rgba(88,50,29,0.8));
	height: 90%;
	display: flex;
	justify-content: space-between;
}

#reservation_container_main_container1{
	background: #D69664; /* fallback color if gradients are not supported*/ 
	background: -webkit-linear-gradient(180deg,rgba(214,150,100,0.8) 35%, rgba(207,196,185,0.6), rgba(88,50,29,0.8));
	background: -moz-linear-gradient(180deg,rgba(214,150,100,0.8) 35%, rgba(207,196,185,0.6), rgba(88,50,29,0.8));
	background: -o-linear-gradient(180deg,rgba(214,150,100,0.8) 35%, rgba(207,196,185,0.6), rgba(88,50,29,0.8));
	background: linear-gradient(180deg,rgba(214,150,100,0.8) 35%, rgba(207,196,185,0.6), rgba(88,50,29,0.8));
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border: solid gray;
	word-spacing: 0.3vh; 
	margin-left: 0.5%;
}

#main_container1_1{
    background-color: #E3C9B6;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 10vh;
}

#main_container1_1_text{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 10vh;
	min-width: 15vw;
	text-align: center;
	font-family: 'Vidaloka', serif;
	font-size: 1.5vh;
}

#planning_footer{
	height: 25vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 2%;	
}


#main_container1_2_text{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 10vh;
	min-width: 15vw;
	text-align: center;
	font-family: 'Vidaloka', serif;
	font-size: 2.5vh;
	background-color: #E3C9B6;
}

.colorgray{
    background-color: rgba(160, 138, 116, 0.5);
}

#main_container1_3_text{
    background-color: #E3C9B6;
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 10vh;
	width: 100%;
	text-align: center;
	font-family: 'Vidaloka', serif;
	font-size: 2.5vh;
}

#main_container1_4_text{
    background-color: #E3C9B6;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 10vh;
	width: 100%;
	text-align: center;
	font-family: 'Vidaloka', serif;
	font-size: 2.5vh;
}





#reservation_container_main_container2{
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border: solid gray; 
	margin-right: 0.5%;	
}


#main_container2_1_text{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 10vh;
	min-width: 15vw;
	text-align: center;
	font-family: 'Vidaloka', serif;
	font-size: 1.5vh;
}

#main_container2_2_text{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 10vh;
	min-width: 15vw;
	text-align: center;
	font-family: 'Vidaloka', serif;
	font-size: 2.5vh;
}


#main_container2_3_text{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 10vh;
	min-width: 15vw;
	text-align: center;
	font-family: 'Vidaloka', serif;
	font-size: 2.5vh;
}

#main_container2_4_text{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 10vh;
	min-width: 15vw;
	text-align: center;
	font-family: 'Vidaloka', serif;
	font-size: 2.5vh;
}

#reserver1{
	height: 4vh;
	width: 15vw;
	font-size: 2.5vh;
	background-color: #56301D;
}

#reserver2:hover{
	background-color: #CFC4B9;
}
#main_container1_2{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 10vh;

}
#main_container1_3{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 10vh;

}
#main_container1_4{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 10vh;

}


#main_container2_1{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 10vh;
    background-color: #E3C9B6;
}
#main_container2_2{
    background-color: #E3C9B6;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 10vh;

}
#main_container2_3{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 10vh;
}

#main_container2_4{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 10vh;

}
#reservation_footer{
	background-color: blue;
	height: 19.5vh;
	margin-top: 1%;
	font-family: 'Harmattan', sans-serif;

}





		/*reservation-form*/


#form_body{
	margin: 0;
	padding : 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #58331D;
}



#form_main{
	background: #D69664; /* fallback color if gradients are not supported*/ 
	background: -webkit-linear-gradient(180deg,rgba(214,150,100,0.8) 35%, rgba(207,196,185,0.6), rgba(88,50,29,0.8));
	background: -moz-linear-gradient(180deg,rgba(214,150,100,0.8) 35%, rgba(207,196,185,0.6), rgba(88,50,29,0.8));
	background: -o-linear-gradient(180deg,rgba(214,150,100,0.8) 35%, rgba(207,196,185,0.6), rgba(88,50,29,0.8));
	background: linear-gradient(180deg,rgba(214,150,100,0.8) 35%, rgba(207,196,185,0.6), rgba(88,50,29,0.8));
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.titrecolor{
	background-color: rgba(223, 200, 183, 0.8);
}
#form_container1{
	background-color: rgba(148, 101, 67, 0.8);
	height: 90vh;
	height: 15vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
#input_titre{
	height: 6vh;
	width: 19vw;
}
#form_titre{
    background: rgba(223, 200, 183, 0.8);
	height: 100%;
	height: 8vh;
	width: 18vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#form_container2{
	background: #D69664; /* fallback color if gradients are not supported*/ 
	background: -webkit-linear-gradient(180deg,rgba(214,150,100,0.8) 35%, rgba(207,196,185,0.6), rgba(88,50,29,0.8));
	background: -moz-linear-gradient(180deg,rgba(214,150,100,0.8) 35%, rgba(207,196,185,0.6), rgba(88,50,29,0.8));
	background: -o-linear-gradient(180deg,rgba(214,150,100,0.8) 35%, rgba(207,196,185,0.6), rgba(88,50,29,0.8));
	background: linear-gradient(180deg,rgba(214,150,100,0.8) 35%, rgba(207,196,185,0.6), rgba(88,50,29,0.8));
	height: 90vh;
	height: 82.5%;
	display: flex;
	justify-content: center;
}
#form_cnt2_main{
	width: 75%;
	margin-top: 1%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#form_cnt2_1{
    background-color: rgba(239, 239, 239, 0.6);
	display: flex;
	justify-content: space-around;
	height: 8vh;
}


#form_cnt2-1_label{
    background-color: #DFC8B7;
	width: 20vw;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 3vh;
}

#form_cnt2-1_input{
	width: 20vw;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}


#textarea{
	height: 6vh;
	width: 19vw;
}


#form_cnt2_2{
    background-color: #E3C9B6;
	display: flex;
	justify-content: space-around;
	height: 8vh;
}

#form_cnt2-2_label{
    background-color: rgba(207, 196, 185, 0.2);
	width: 20vw;
	text-align: center;
	font-size: 3vh;
	display: flex;
	flex-direction: column;
	justify-content: center;

}

#form_cnt2-2_input{
	width: 20vw;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}


#form_cnt2_3{
	height: 20vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#form_cnt2-3-1{
    background-color: #E3C9B6;
	height: 47%;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: space-around;
}
#form_cnt2-3_label1{
    background-color: #DFC8B7;
	width: 20vw;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 3vh;
}

#form_cnt2-3_label2{
    background-color: #DFC8B7;
	width: 20vw;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 3vh;
}

#form_cnt2-3_input1{
	width: 20vw;
	text-align: center;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#heure1{
	width: 4.4vw;
	height: 4.4vh;
}

#date1{
	width: 4vw;
	height: 4vh;
}


#form_cnt2-3-2{
    background-color: #E3C9B6;
	height: 47%;	
	display: flex;
	justify-content: space-around;
}


#form_cnt2-3_input2{
	width: 20vw;
	text-align: center;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 3vh;
}

#heure2{
	width: 4.4vw;
	height: 4.4vh;
}

#date2{
	width: 4vw;
	height: 4vh;
}

#form_cnt2_4{
    background-color: rgba(255, 255, 255, 0.8);
	display: flex;
	justify-content: center;
	text-align: center;
	height: 6vh; 
}

#form_cnt2_4_button{
	width: 20vw;
}

#reserver2{
	height: 6vh;
	width: 15vw;
	font-size: 3vh;
	background: #EFEFEF;
}
#form_footer{
	background-color: blue;
	height: 19.5vh;
	margin-top: 1%;
	font-family: 'Harmattan', sans-serif;
}


.formcolor{
    background-color: #DFC8B7;
}
